[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/flagmate/Desktop/ciruits]
row=3
col=0

[/home/flagmate/Desktop/dev]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/flagmate]
row=2
col=0

