[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/flagmate/Desktop/Downloads]
row=3
col=0

[/home/flagmate/Desktop/programming]
row=4
col=0

[/home/flagmate/Desktop/tor-browser_en-US]
row=5
col=0

[/home/flagmate/Desktop/hacking]
row=0
col=1

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/flagmate]
row=1
col=0

